/* DARK MODE */
html.dark::-webkit-scrollbar{
  width: 6px;
}

html.dark::-webkit-scrollbar-track{
  background: #111827;
}

html.dark::-webkit-scrollbar-thumb{
  background: #1f2937;
}

html.dark::-webkit-scrollbar-thumb:hover{
  background: #27272a;
}


/* LIGHT MODE */
html::-webkit-scrollbar{
  width: 6px;
}

html::-webkit-scrollbar-track{
  background: #f1f5f9;
}

html::-webkit-scrollbar-thumb{
  background: #cbd5e1;
}

html::-webkit-scrollbar-thumb:hover{
  background: #94a3b8;
}