::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111827;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f2937;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #27272a;
}